<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Online shop</title>
</head>
<body>

<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                    <h4 >WELCOME TO ONLINE SHOP !</h4>
                </div>
            </nav>
        </div>
    </div>
</nav>

<section class="main">
    <div class="container">
        <div class="row m-md-5">
            <div class="text-center">
                <h3 class="text-center">LOGIN</h3>
                <a class="nav-link active" aria-current="page" href="/registration">OR CREATE NEW ACCOUNT </a>
            </div>
        </div>
    </div>
</section>

<div class="row justify-content-md-center">

    <div class="col col-lg-3">

        <form action="/login" method="POST">
            <div class="mb-3">
                <input type="text" class="form-control"
                       name="username" placeholder="username">
            </div>

            <div class="mb-3">
                <input type="password" class="form-control"
                       name="password" placeholder="password">
            </div>

            <div class="row justify-content-md-center">
                <button type="submit" class="btn btn-success">save</button>
            </div>
        </form>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>
</html>
